.fontx10{
 font-size: 10px;
}
.fontx25{
 font-size: 200%;
 font-weight: lighter;
}
header{
background-image: url(/images/slider_1.jpg);
height: 100vh; background-position: center; background-size: cover;
transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 5s;
}
.catogrize{
position: absolute;
bottom: 45%;
left : 25%
}
.nav-item.active>.nav-link{
    color: #C82333;
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color: #C82333;
    /* border-bottom: solid 1px #C82333 ; */
}
.navbar.scrolled{
    width: 100%;
    position: fixed;
    transition: ease 3s ;
    top: 0%;
    }
.icon i:hover{
    color: #C82333;
}
.badge{
position: absolute;
top: 28%;
}
